{% extends 'base2.html' %}
{% block content %}
    <div class="container mt-3">
    <form novalidate action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if  product.name|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.name.id_for_label }}" class="form-label">{{ form_obj.name.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.name }}
                    <span class="help-block">{{ form_obj.errors.name.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="name_container" class="col-sm-offset-10">
                    {{ product.name }}
                    <input value="change name" class="btn btn-outline-dark" type="button" id="change_name">
                </div>
            </div>
        {% endif %}
            <div class="mb-3 mt-3">
                <div id="category_container" class="col-sm-offset-10">
                    {{ product.category }}
                    <input value="change category" class="btn btn-outline-dark" type="button" id="change_category">
                </div>
            </div>
            <div class="mb-3 mt-3">
                <div id="price_container" class="col-sm-offset-10">
                    {{ product.price }}
                    <input value="change price" class="btn btn-outline-dark" type="button" id="change_price">
                </div>
            </div>
        {% if product.property1|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.property1.id_for_label }}" class="form-label">{{ form_obj.property1.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.property1 }}
                    <span class="help-block">{{ form_obj.errors.property1.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="property1_container" class="col-sm-offset-10">
                    {{ product.property1 }}
                    <input value="change property1" class="btn btn-outline-dark" type="button" id="change_property1">
                </div>
            </div>
        {% endif %}
        {% if product.property2|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.property2.id_for_label }}" class="form-label">{{ form_obj.property2.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.property2 }}
                    <span class="help-block">{{ form_obj.errors.property2.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="property2_container" class="col-sm-offset-10">
                    {{ product.property2 }}
                    <input value="change property2" class="btn btn-outline-dark" type="button" id="change_property2">
                </div>
            </div>
        {% endif %}
        {% if product.property3|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.property3.id_for_label }}" class="form-label">{{ form_obj.property3.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.property3 }}
                    <span class="help-block">{{ form_obj.errors.property3.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="property3_container" class="col-sm-offset-10">
                    {{ product.property3 }}
                    <input value="change property3" class="btn btn-outline-dark" type="button" id="change_property3">
                </div>
            </div>
        {% endif %}
        {% if product.property4|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.property4.id_for_label }}" class="form-label">{{ form_obj.property4.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.property4 }}
                    <span class="help-block">{{ form_obj.errors.property4.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="property4_container" class="col-sm-offset-10">
                    {{ product.property4 }}
                    <input value="change property4" class="btn btn-outline-dark" type="button" id="change_property4">
                </div>
            </div>
        {% endif %}
        {% if product.property5|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.property5.id_for_label }}" class="form-label">{{ form_obj.property5.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.property5 }}
                    <span class="help-block">{{ form_obj.errors.property5.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="property5_container" class="col-sm-offset-10">
                    {{ product.property5 }}
                    <input value="change property5" class="btn btn-outline-dark" type="button" id="change_property5">
                </div>
            </div>
        {% endif %}
        {% if product.property6|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.property6.id_for_label }}" class="form-label">{{ form_obj.property6.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.property6 }}
                    <span class="help-block">{{ form_obj.errors.property6.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="property6_container" class="col-sm-offset-10">
                    {{ product.property6 }}
                    <input value="change property6" class="btn btn-outline-dark" type="button" id="change_property6">
                </div>
            </div>
        {% endif %}
        <div class="mb-3 mt-3">
            <div id="temporary_status_container" class="col-sm-offset-10">
                {{ product.temporary_status }}
                <input value="change temporary status" class="btn btn-outline-dark" type="button" id="change_temporary_status">
            </div>
        </div>
        {% if product.main_image|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.main_image.id_for_label }}" class="form-label">{{ form_obj.main_image.label }}</label>
                <div class="form-control me-2">
                    {{ form_obj.main_image }}
                    <span class="help-block">{{ form_obj.errors.main_image.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="main_image_container" class="col-sm-offset-10">
                    <img src="/media/{{ product.main_image }}/" alt="main_image">
                    <input value="change main image" class="btn btn-outline-dark" type="button" id="change_main_image">
                </div>
            </div>
        {% endif %}
        {% if product.photo1|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.photo1.id_for_label}}" class="form-label">{{ form_obj.photo1.label }}</label>
                <div class="col-sm-offset-10">
                    {{ form_obj.photo1 }}
                    <span class="help-block">{{ form_obj.errors.photo1.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="photo1_container" class="col-sm-offset-10">
                    <img src="/media/{{ product.photo1 }}/" alt="photo1">
                    <input value="change photo1" class="btn btn-outline-dark" type="button" id="change_photo1">
                </div>
            </div>
        {% endif %}
        {% if product.photo2|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.photo2.id_for_label }}" class="form-label">{{ form_obj.photo2.label }}</label>
                <div class="col-sm-offset-10">
                        {{ form_obj.photo2 }}
                    <span class="help-block">{{ form_obj.errors.photo2.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="photo2_container" class="col-sm-offset-10">
                    {{ product.photo2 }}
                    <input value="change photo2" class="btn btn-outline-dark" type="button" id="change_photo2">
                </div>
            </div>
        {% endif %}
        {% if product.photo3|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.photo3.id_for_label }}" class="form-label">{{ form_obj.photo3.label }}</label>
                <div class="col-sm-offset-10">
                    {{ form_obj.photo3 }}
                    <span class="help-block">{{ form_obj.errors.photo3.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="photo3_container" class="col-sm-offset-10">
                    <img src="/media/{{ product.photo3 }}/" alt="photo3">
                    <input value="change photo3" class="btn btn-outline-dark" type="button" id="change_photo3">
                </div>
            </div>
        {% endif %}
        {% if product.photo4|length is 0 %}
            <div class="mb-3 mt-3">
                <label for="{{ form_obj.photo4.id_for_label }}" class="form-label">{{ form_obj.photo4.label }}</label>
                <div class="col-sm-offset-10">
                    {{ form_obj.photo4 }}
                    <span class="help-block">{{ form_obj.errors.photo4.0 }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-3 mt-3">
                <div id="photo4_container" class="col-sm-offset-10">
                    <img src="/media/{{ product.photo4 }}/" alt="photo4">
                    <input value="change photo4" class="btn btn-outline-dark" type="button" id="change_photo4">
                </div>
            </div>
        {% endif %}
        <div class="mb-3 mt-3">
            <input type="submit"  value="Change" class="btn btn-outline-dark">
        </div>
    </form>
</div>
    <script>
        $(document).on('click', '#change_name', function () {
            $('#name_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.name.id_for_label }}" class="form-label">{{ form_obj.name.label }}</label> <div class="col-sm-offset-10">{{ form_obj.name }} <span class="help-block">{{ form_obj.errors.name.0 }}</span></div></div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_category', function () {
            $('#category_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.category.id_for_label }}" class="form-label">{{ form_obj.category.label }}</label> <div class="col-sm-offset-10">{{ form_obj.category|escapejs }} <span class="help-block">{{ form_obj.errors.category.0 }}</span></div></div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_price', function () {
            $('#price_container').html('<div class="mb-3 mt-3"><label for="{{ form_obj.price.id_for_label }}" class="form-label">{{ form_obj.price.label }}</label> <div class="col-sm-offset-10">{{ form_obj.price }} <span class="help-block">{{ form_obj.errors.price.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_property1', function () {
            $('#property1_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.property1.id_for_label }}" class="form-label">{{ form_obj.property1.label }}</label> <div class="col-sm-offset-10">{{ form_obj.property1 }} <span class="help-block">{{ form_obj.errors.property1.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_property2', function () {
            $('#property2_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.property2.id_for_label }}" class="form-label">{{ form_obj.property2.label }}</label> <div class="col-sm-offset-10">{{ form_obj.property2 }} <span class="help-block">{{ form_obj.errors.property2.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_property3', function () {
            $('#property3_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.property3.id_for_label }}" class="form-label">{{ form_obj.property3.label }}</label> <div class="col-sm-offset-10">{{ form_obj.property3 }} <span class="help-block">{{ form_obj.errors.property3.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_property4', function () {
            $('#property4_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.property4.id_for_label }}" class="form-label">{{ form_obj.property4.label }}</label> <div class="col-sm-offset-10">{{ form_obj.property4 }} <span class="help-block">{{ form_obj.errors.property4.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_property5', function () {
            $('#property5_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.property5.id_for_label }}" class="form-label">{{ form_obj.property5.label }}</label> <div class="col-sm-offset-10">{{ form_obj.property5 }} <span class="help-block">{{ form_obj.errors.property5.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_property6', function () {
            $('#property6_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.property6.id_for_label }}" class="form-label">{{ form_obj.property6.label }}</label> <div class="col-sm-offset-10">{{ form_obj.property6 }} <span class="help-block">{{ form_obj.errors.property6.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_temporary_status', function () {
            $('#temporary_status_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.temporary_status.id_for_label }}" class="form-label">{{ form_obj.temporary_status.label }}</label> <div class="col-sm-offset-10">{{ form_obj.temporary_status|escapejs }} <span class="help-block">{{ form_obj.errors.temporary_status.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_main_image', function () {
            $('#main_image_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.main_image.id_for_label }}" class="form-label">{{ form_obj.main_image.label }}</label> <div class="col-sm-offset-10">{{ form_obj.main_image|escapejs }} <span class="help-block">{{ form_obj.errors.main_image.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_photo1', function () {
            $('#photo1_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.photo1.id_for_label }}" class="form-label">{{ form_obj.photo1.label }}</label> <div class="col-sm-offset-10">{{ form_obj.photo1|escapejs }} <span class="help-block">{{ form_obj.errors.photo1.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_photo2', function () {
            $('#photo2_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.photo2.id_for_label }}" class="form-label">{{ form_obj.photo2.label }}</label> <div class="col-sm-offset-10">{{ form_obj.photo2|escapejs }} <span class="help-block">{{ form_obj.errors.photo2.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_photo3', function () {
            $('#photo3_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.photo3.id_for_label }}" class="form-label">{{ form_obj.photo3.label }}</label> <div class="col-sm-offset-10">{{ form_obj.photo3|escapejs }} <span class="help-block">{{ form_obj.errors.photo3.0 }}</span> </div> </div>')
        });
    </script>
    <script>
        $(document).on('click', '#change_photo4', function () {
            $('#photo4_container').html('<div class="mb-3 mt-3"> <label for="{{ form_obj.photo4.id_for_label }}" class="form-label">{{ form_obj.photo4.label }}</label> <div class="col-sm-offset-10">{{ form_obj.photo4|escapejs }} <span class="help-block">{{ form_obj.errors.photo4.0 }}</span> </div> </div>')
        });
    </script>
{% endblock %}
