{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <div style="text-align: center">
        <h1>Are you sure to logout</h1>
        <button id="logout" class="btn btn-outline-dark">Sure</button>
        <div style="text-align: center">
            <div id="info"></div>
        </div>
    </div>
    <script>
        $("#logout").click(function () {
            $.ajax({
                url: "/ajax_logout_data/",
                type: "GET",
                success: function (data) {
                        setTimeout(() =>location.reload(), 3000)
                        $("#info").html(data.msg)
                    },
                    error: function (jqXHR, textStatus, err) {
                        console.log(arguments)
                    }
            })
        })
        </script>
{% endblock %}